<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Sooq365</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>CodePushDeploymentKey</key>
		<string>JJAs6adxEiVkYi3JkU9sttApN_hR2VJd9VzzN</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb1034874407950462</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>sooq365.com</string>
				</array>
			</dict>
		</array>
		<key>FacebookAppID</key>
		<string>16778894867897950900</string>
		<key>FacebookClientToken</key>
		<string>7f28209gy778ut126aef8e37328987</string>
		<key>FacebookDisplayName</key>
		<string>Sooq365</string>
		<key>NSCameraUsageDescription</key>
		<string>Sooq365 needs to access the camera to allow you to take a photo for your account profile picture</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Allow $(PRODUCT_NAME) to access gallery for profile image</string>
		<key>UIAppFonts</key>
		<array>
			<string>antdesign.ttf</string>
			<string>entypo.ttf</string>
			<string>evilicon.ttf</string>
			<string>font-awesome-5.ttf</string>
			<string>font-awesome.ttf</string>
			<string>foundation.ttf</string>
			<string>ionicon.ttf</string>
			<string>material.ttf</string>
			<string>octicon.ttf</string>
			<string>simple-line-icon.ttf</string>
			<string>zocial.ttf</string>
			<string>Goldplay Bold.otf</string>
			<string>Goldplay Regular.otf</string>
			<string>Goldplay Thin.otf</string>
			<string>Roboto-Bold.ttf</string>
			<string>Roboto-Light.ttf</string>
			<string>Goldplay-Medium.ttf</string>
			<string>Sooq.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>